<!-- edit-user-modal.component.html -->

<div class="modal-header">
  <h1 class="modal-title fs-5 editUser-title">Edit User</h1>
  <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form">
  <div class="mb-3">
    <label for="firstName" class="form-label">Name</label>
    <input id="firstName" type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" required>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input id="lastName" type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input id="email" type="email" class="form-control" [(ngModel)]="user.email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input id="phone" type="text" class="form-control" [(ngModel)]="user.phone" name="phone" required>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input id="location" type="text" class="form-control" [(ngModel)]="user.location" name="location" required>
  </div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-cancel" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-sm btn-save" (click)="editUser()">Save</button>
</div>
