/* TABLE HEADER / DROPDOWN LIST */

h2 {
    font-weight: 600;
    color: #354259;
}

.userList-header {
    background-color: #CDC2AE;
    border-bottom: solid 1px #354259;
}

.btn-new-show-user {
    background-color: #354259;
    color: #CDC2AE;
}


/* TABLE LIST */

tr th {
    font-weight:500;
    padding-left: 25px;
    color: #354259;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 25px;
}

tr td {
    font-weight:200;
    padding-left: 25px;
    color: #354259;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 25px;
}

tr td button {
    vertical-align: middle;
}

.row.userList-header {
  margin-right: 0;
  margin-left: 0;
}

.btn {
    box-shadow: 1px 1px 2.5px 1px rgba(0, 0, 0, 0.3);
}

.btn-submit-edit {
    background-color: #354259;
    color: #CDC2AE;
}

.btn-cancel-delete {
    background-color: #A25772;
    color: #CDC2AE;
}



/* TABLE FOOTER */
.bg-footer-table {
    background-color: #CDC2AE;
    border-top: solid 1px #354259;
}

.btn-showMore {
    background-color: #354259;
    color: #CDC2AE;
    margin-top: 10px;
    margin-bottom: 10px;
}
