<!-- home.component.html -->
<div class="container mt-5">
    <div class="d-flex align-items-center userList-header">
      <div class="col">
        <h4 class="py-2 ms-4">User List</h4>
      </div>
      <div class="col d-flex flex-row-reverse pe-3">
        <button class="justify-content-end btn btn-sm btn-newUser" (click)="mostrarFormularioCrear()">New User</button>
      </div>
    </div>
    <div *ngIf="flagCrearUsuario" class="form-bg-color px-3">
      <form [formGroup]="userForm" (ngSubmit)="crearUsuario()">
        <div class="mb-3">
          <label for="firstName" class="form-label pt-3">Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName">
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" id="lastName">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" formControlName="phone" class="form-control" id="phone">
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" formControlName="location" class="form-control" id="location">
        </div>
        <button type="submit" class="btn btn-submit-edit me-3 mt-2 mb-4">Submit</button>
        <button type="button" class="btn btn-cancel-delete mt-2 mb-4" (click)="cancelarCreacion()">Cancel</button>
      </form>
    </div>
    
    <div class="table-responsive">
      <table class="table table-success table-striped">
        <!-- Encabezados de la tabla -->
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.location }}</td>
            <td>
              <button class="btn btn-sm btn-submit-edit me-2 mb-lg-0 mb-md-2" (click)="openEditModal(user)">Edit</button>
              <button class="btn btn-sm btn-cancel-delete" (click)="deleteUser(user?.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-footer-table">
      <!-- Botón para cargar más usuarios -->
    <button class="btn btn-showMore btn-sm ms-3" (click)="loadMore()">Show More</button>
    </div>
    
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openEditModal()">
  Launch demo modal
</button> -->
  
  <!-- Modal -->
  <div class="modal" tabindex="-1" [class.show]="isModalVisible">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Modal title</h1>
          <button type="button" class="btn-close" (click)="isModalVisible = false"></button>
        </div>
        <div class="modal-body">
          <!-- <app-edit-user-modal (userUpdated)="handleUserUpdate($event)"></app-edit-user-modal> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="isModalVisible = false">Close</button>
        </div>
      </div>
    </div>
  </div>