.update-btn {
  background-color: #354259;
  color: white;
}

h2 {
  font-weight: 600;
  color: #354259;
}

.charts-header {
  border-bottom: solid 1px #354259;
}

/* .pie-chart-fonts {
  font-family: 'Rubik', sans-serif !important;
} */
